* { box-sizing: border-box }
html { font-size: 62.5% }
body { background-color: #f9fafb; font-family: sans-serif; font-size: 1.6rem; margin: 0 auto; line-height: 1.5; padding: 0 1.6rem; width: 100%}
nav {padding-top: 2rem ; margin-bottom: 2rem}
nav a { margin-left: .5rem; margin-right: .5rem; }
h1 { font-size: 3.5rem; }
pre { padding: 1.5rem; 2.2rem; background-color: #eee; overflow-x: auto}
a { color: inherit; text-decoration: none; box-shadow: inset 0 -0.2rem 0 #bdb}
ul {padding: 0; list-style-type: disc;}
li {padding: 0; margin-left: 1.2em; margin-bottom: 0.2em;}
ol li {margin-left: -0.7em;}
code { font-size: 1em; background-color: #eee}
blockquote { font-style: italic; margin: 1rem 1rem 0 1rem; padding-left: 1.5rem; border-left: 0.2rem solid #bdb; }
p { margin: 1.5rem 0;}
footer { margin: 4rem 0;}
img[alt=profile] { width: 12rem; border-radius: 50%; }
.tags ul { list-style-type: none; columns: 2; }
.tag ul { list-style-type: none;}
.tag li a {display: inline-block }
.tag li p {margin: 0.5rem 0}
.tag li {margin-bottom: 2rem; margin-left: 0}
.tag p:last-child {font-size: 1.5rem; margin: 0}
#header { line-height: 1.3; display: flex; justify-content: space-between; flex-direction: column-reverse;}
@media (min-width: 640px) { body { width: 72ch; } #header { flex-direction: row } .tags ul {columns:3}}
@media (min-width: 2000px) { body { width: 85ch; }}
@page { margin: .75in }
@media print { nav { display: none } footer { display: none } #header { flex-direction: row } html { font-size: 39.5% } body { background-color: transparent; line-height: 1.3 } li {margin-bottom: 0.2em } p { margin: 4px 0; } img[alt=profile] { width: 2.3cm }}
